# Raw MRIs
data/*
mris/*

# Output files
gen_surface_models/preprocessed/*
gen_surface_models/masks/*
gen_surface_models/surfaces/*
registration/surface_models/*
temp/*
deformation/data/*

# VSCode config
.vscode

# Python virtual environment
venv

*/__pycache__