# Raw MRIs
data/*
mris/*

# Output files
gen_surface_models/preprocessed/*
gen_surface_models/osseous_masks/*
gen_surface_models/merged_masks/*
temp/*

# VSCode config
.vscode

# Python virtual environment
venv